.main {
  display: flex;
  height: 100vh;
  width: 100vw;
  overflow: hidden;

  .side-bar {
    position: relative;
    height: 100%;
    flex-shrink: 0;
  }

  .content {
    flex: 1;
    overflow-y: auto;
    position: relative;
  }
}