/* You can add global styles to this file, and also import other style files */
$primary-color: #eb0808;
$secondary-color: #ee9898;
$font-stack: Helvetica, sans-serif;
$base-padding: 1rem;


*{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.container {    
    background-color: aliceblue;
    padding: 2px;    
}



